:root {
  --font-family-base: 'Nunito Sans', Arial, sans-serif;
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-sm: 0.875rem; /* 14px */

  --spacing-base: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-sm: 0.5rem; /* 8px */
}

/* Light Mode Colors */
[data-mode='light'] {
  --color-primary: rgb(10, 10, 25); /* Легкий голубой, почти белый */
  --color-secondary: rgb(200, 210, 220);
  --color-tertiary: rgb(190, 220, 240);
  --color-success: rgb(175, 245, 195);
  --color-danger: rgb(245, 95, 95);
  --color-warning: rgb(255, 220, 175);
  --color-info: rgb(175, 235, 255);
  --color-light: rgb(215, 225, 245);
  --color-light-darker: rgb(225, 235, 255);
  --color-dark: rgb(70, 70, 70);

  --color-primary-transparent-5: rgba(10, 10, 25, 0.05);
  --color-primary-transparent-10: rgba(10, 10, 25, 0.1);
  --color-primary-transparent-15: rgba(10, 10, 25, 0.15);
  --color-primary-transparent-20: rgba(10, 10, 25, 0.2);
  --color-primary-transparent-25: rgba(10, 10, 25, 0.25);
  --color-primary-transparent-30: rgba(10, 10, 25, 0.3);
  --color-primary-transparent-35: rgba(10, 10, 25, 0.35);
  --color-primary-transparent-40: rgba(10, 10, 25, 0.4);
  --color-primary-transparent-45: rgba(10, 10, 25, 0.45);
  --color-primary-transparent-50: rgba(10, 10, 25, 0.5);
  --color-primary-transparent-55: rgba(10, 10, 25, 0.55);
  --color-primary-transparent-60: rgba(10, 10, 25, 0.6);
  --color-primary-transparent-65: rgba(10, 10, 25, 0.65);
  --color-primary-transparent-70: rgba(10, 10, 25, 0.7);
  --color-primary-transparent-75: rgba(10, 10, 25, 0.75);
  --color-primary-transparent-80: rgba(10, 10, 25, 0.8);
  --color-primary-transparent-85: rgba(10, 10, 25, 0.85);
  --color-primary-transparent-90: rgba(10, 10, 25, 0.9);
  --color-primary-transparent-95: rgba(10, 10, 25, 0.95);

  --color-secondary-transparent-5: rgba(200, 210, 220, 0.05);
  --color-secondary-transparent-10: rgba(200, 210, 220, 0.1);
  --color-secondary-transparent-15: rgba(200, 210, 220, 0.15);
  --color-secondary-transparent-20: rgba(200, 210, 220, 0.2);
  --color-secondary-transparent-25: rgba(200, 210, 220, 0.25);
  --color-secondary-transparent-30: rgba(200, 210, 220, 0.3);
  --color-secondary-transparent-35: rgba(200, 210, 220, 0.35);
  --color-secondary-transparent-40: rgba(200, 210, 220, 0.4);
  --color-secondary-transparent-45: rgba(200, 210, 220, 0.45);
  --color-secondary-transparent-50: rgba(200, 210, 220, 0.5);
  --color-secondary-transparent-55: rgba(200, 210, 220, 0.55);
  --color-secondary-transparent-60: rgba(200, 210, 220, 0.6);
  --color-secondary-transparent-65: rgba(200, 210, 220, 0.65);
  --color-secondary-transparent-70: rgba(200, 210, 220, 0.7);
  --color-secondary-transparent-75: rgba(200, 210, 220, 0.75);
  --color-secondary-transparent-80: rgba(200, 210, 220, 0.8);
  --color-secondary-transparent-85: rgba(200, 210, 220, 0.85);
  --color-secondary-transparent-90: rgba(200, 210, 220, 0.9);
  --color-secondary-transparent-95: rgba(200, 210, 220, 0.95);

  --color-tertiary-transparent-5: rgba(190, 220, 240, 0.05);
  --color-tertiary-transparent-10: rgba(190, 220, 240, 0.1);
  --color-tertiary-transparent-15: rgba(190, 220, 240, 0.15);
  --color-tertiary-transparent-20: rgba(190, 220, 240, 0.2);
  --color-tertiary-transparent-25: rgba(190, 220, 240, 0.25);
  --color-tertiary-transparent-30: rgba(190, 220, 240, 0.3);
  --color-tertiary-transparent-35: rgba(190, 220, 240, 0.35);
  --color-tertiary-transparent-40: rgba(190, 220, 240, 0.4);
  --color-tertiary-transparent-45: rgba(190, 220, 240, 0.45);
  --color-tertiary-transparent-50: rgba(190, 220, 240, 0.5);
  --color-tertiary-transparent-55: rgba(190, 220, 240, 0.55);
  --color-tertiary-transparent-60: rgba(190, 220, 240, 0.6);
  --color-tertiary-transparent-65: rgba(190, 220, 240, 0.65);
  --color-tertiary-transparent-70: rgba(190, 220, 240, 0.7);
  --color-tertiary-transparent-75: rgba(190, 220, 240, 0.75);
  --color-tertiary-transparent-80: rgba(190, 220, 240, 0.8);
  --color-tertiary-transparent-85: rgba(190, 220, 240, 0.85);
  --color-tertiary-transparent-90: rgba(190, 220, 240, 0.9);
  --color-tertiary-transparent-95: rgba(190, 220, 240, 0.95);

  --color-success-transparent-5: rgba(175, 245, 195, 0.05);
  --color-success-transparent-10: rgba(175, 245, 195, 0.1);
  --color-success-transparent-15: rgba(175, 245, 195, 0.15);
  --color-success-transparent-20: rgba(175, 245, 195, 0.2);
  --color-success-transparent-25: rgba(175, 245, 195, 0.25);
  --color-success-transparent-30: rgba(175, 245, 195, 0.3);
  --color-success-transparent-35: rgba(175, 245, 195, 0.35);
  --color-success-transparent-40: rgba(175, 245, 195, 0.4);
  --color-success-transparent-45: rgba(175, 245, 195, 0.45);
  --color-success-transparent-50: rgba(175, 245, 195, 0.5);
  --color-success-transparent-55: rgba(175, 245, 195, 0.55);
  --color-success-transparent-60: rgba(175, 245, 195, 0.6);
  --color-success-transparent-65: rgba(175, 245, 195, 0.65);
  --color-success-transparent-70: rgba(175, 245, 195, 0.7);
  --color-success-transparent-75: rgba(175, 245, 195, 0.75);
  --color-success-transparent-80: rgba(175, 245, 195, 0.8);
  --color-success-transparent-85: rgba(175, 245, 195, 0.85);
  --color-success-transparent-90: rgba(175, 245, 195, 0.9);
  --color-success-transparent-95: rgba(175, 245, 195, 0.95);

  --color-danger-transparent-5: rgba(245, 95, 95, 0.05);
  --color-danger-transparent-10: rgba(245, 95, 95, 0.1);
  --color-danger-transparent-15: rgba(245, 95, 95, 0.15);
  --color-danger-transparent-20: rgba(245, 95, 95, 0.2);
  --color-danger-transparent-25: rgba(245, 95, 95, 0.25);
  --color-danger-transparent-30: rgba(245, 95, 95, 0.3);
  --color-danger-transparent-35: rgba(245, 95, 95, 0.35);
  --color-danger-transparent-40: rgba(245, 95, 95, 0.4);
  --color-danger-transparent-45: rgba(245, 95, 95, 0.45);
  --color-danger-transparent-50: rgba(245, 95, 95, 0.5);
  --color-danger-transparent-55: rgba(245, 95, 95, 0.55);
  --color-danger-transparent-60: rgba(245, 95, 95, 0.6);
  --color-danger-transparent-65: rgba(245, 95, 95, 0.65);
  --color-danger-transparent-70: rgba(245, 95, 95, 0.7);
  --color-danger-transparent-75: rgba(245, 95, 95, 0.75);
  --color-danger-transparent-80: rgba(245, 95, 95, 0.8);
  --color-danger-transparent-85: rgba(245, 95, 95, 0.85);
  --color-danger-transparent-90: rgba(245, 95, 95, 0.9);
  --color-danger-transparent-95: rgba(245, 95, 95, 0.95);

  --color-warning-transparent-5: rgba(255, 220, 175, 0.05);
  --color-warning-transparent-10: rgba(255, 220, 175, 0.1);
  --color-warning-transparent-15: rgba(255, 220, 175, 0.15);
  --color-warning-transparent-20: rgba(255, 220, 175, 0.2);
  --color-warning-transparent-25: rgba(255, 220, 175, 0.25);
  --color-warning-transparent-30: rgba(255, 220, 175, 0.3);
  --color-warning-transparent-35: rgba(255, 220, 175, 0.35);
  --color-warning-transparent-40: rgba(255, 220, 175, 0.4);
  --color-warning-transparent-45: rgba(255, 220, 175, 0.45);
  --color-warning-transparent-50: rgba(255, 220, 175, 0.5);
  --color-warning-transparent-55: rgba(255, 220, 175, 0.55);
  --color-warning-transparent-60: rgba(255, 220, 175, 0.6);
  --color-warning-transparent-65: rgba(255, 220, 175, 0.65);
  --color-warning-transparent-70: rgba(255, 220, 175, 0.7);
  --color-warning-transparent-75: rgba(255, 220, 175, 0.75);
  --color-warning-transparent-80: rgba(255, 220, 175, 0.8);
  --color-warning-transparent-85: rgba(255, 220, 175, 0.85);
  --color-warning-transparent-90: rgba(255, 220, 175, 0.9);
  --color-warning-transparent-95: rgba(255, 220, 175, 0.95);

  --color-info-transparent-5: rgba(175, 235, 255, 0.05);
  --color-info-transparent-10: rgba(175, 235, 255, 0.1);
  --color-info-transparent-15: rgba(175, 235, 255, 0.15);
  --color-info-transparent-20: rgba(175, 235, 255, 0.2);
  --color-info-transparent-25: rgba(175, 235, 255, 0.25);
  --color-info-transparent-30: rgba(175, 235, 255, 0.3);
  --color-info-transparent-35: rgba(175, 235, 255, 0.35);
  --color-info-transparent-40: rgba(175, 235, 255, 0.4);
  --color-info-transparent-45: rgba(175, 235, 255, 0.45);
  --color-info-transparent-50: rgba(175, 235, 255, 0.5);
  --color-info-transparent-55: rgba(175, 235, 255, 0.55);
  --color-info-transparent-60: rgba(175, 235, 255, 0.6);
  --color-info-transparent-65: rgba(175, 235, 255, 0.65);
  --color-info-transparent-70: rgba(175, 235, 255, 0.7);
  --color-info-transparent-75: rgba(175, 235, 255, 0.75);
  --color-info-transparent-80: rgba(175, 235, 255, 0.8);
  --color-info-transparent-85: rgba(175, 235, 255, 0.85);
  --color-info-transparent-90: rgba(175, 235, 255, 0.9);
  --color-info-transparent-95: rgba(175, 235, 255, 0.95);

  --color-light-transparent-5: rgba(215, 225, 245, 0.05);
  --color-light-transparent-10: rgba(215, 225, 245, 0.1);
  --color-light-transparent-15: rgba(215, 225, 245, 0.15);
  --color-light-transparent-20: rgba(215, 225, 245, 0.2);
  --color-light-transparent-25: rgba(215, 225, 245, 0.25);
  --color-light-transparent-30: rgba(215, 225, 245, 0.3);
  --color-light-transparent-35: rgba(215, 225, 245, 0.35);
  --color-light-transparent-40: rgba(215, 225, 245, 0.4);
  --color-light-transparent-45: rgba(215, 225, 245, 0.45);
  --color-light-transparent-50: rgba(215, 225, 245, 0.5);
  --color-light-transparent-55: rgba(215, 225, 245, 0.55);
  --color-light-transparent-60: rgba(215, 225, 245, 0.6);
  --color-light-transparent-65: rgba(215, 225, 245, 0.65);
  --color-light-transparent-70: rgba(215, 225, 245, 0.7);
  --color-light-transparent-75: rgba(215, 225, 245, 0.75);
  --color-light-transparent-80: rgba(215, 225, 245, 0.8);
  --color-light-transparent-85: rgba(215, 225, 245, 0.85);
  --color-light-transparent-90: rgba(215, 225, 245, 0.9);
  --color-light-transparent-95: rgba(215, 225, 245, 0.95);

  --color-light-darker-transparent-5: rgba(225, 235, 255, 0.05);
  --color-light-darker-transparent-10: rgba(225, 235, 255, 0.1);
  --color-light-darker-transparent-15: rgba(225, 235, 255, 0.15);
  --color-light-darker-transparent-20: rgba(225, 235, 255, 0.2);
  --color-light-darker-transparent-25: rgba(225, 235, 255, 0.25);
  --color-light-darker-transparent-30: rgba(225, 235, 255, 0.3);
  --color-light-darker-transparent-35: rgba(225, 235, 255, 0.35);
  --color-light-darker-transparent-40: rgba(225, 235, 255, 0.4);
  --color-light-darker-transparent-45: rgba(225, 235, 255, 0.45);
  --color-light-darker-transparent-50: rgba(225, 235, 255, 0.5);
  --color-light-darker-transparent-55: rgba(225, 235, 255, 0.55);
  --color-light-darker-transparent-60: rgba(225, 235, 255, 0.6);
  --color-light-darker-transparent-65: rgba(225, 235, 255, 0.65);
  --color-light-darker-transparent-70: rgba(225, 235, 255, 0.7);
  --color-light-darker-transparent-75: rgba(225, 235, 255, 0.75);
  --color-light-darker-transparent-80: rgba(225, 235, 255, 0.8);
  --color-light-darker-transparent-85: rgba(225, 235, 255, 0.85);
  --color-light-darker-transparent-90: rgba(225, 235, 255, 0.9);
  --color-light-darker-transparent-95: rgba(225, 235, 255, 0.95);

  --color-dark-transparent-5: rgba(70, 70, 70, 0.05);
  --color-dark-transparent-10: rgba(70, 70, 70, 0.1);
  --color-dark-transparent-15: rgba(70, 70, 70, 0.15);
  --color-dark-transparent-20: rgba(70, 70, 70, 0.2);
  --color-dark-transparent-25: rgba(70, 70, 70, 0.25);
  --color-dark-transparent-30: rgba(70, 70, 70, 0.3);
  --color-dark-transparent-35: rgba(70, 70, 70, 0.35);
  --color-dark-transparent-40: rgba(70, 70, 70, 0.4);
  --color-dark-transparent-45: rgba(70, 70, 70, 0.45);
  --color-dark-transparent-50: rgba(70, 70, 70, 0.5);
  --color-dark-transparent-55: rgba(70, 70, 70, 0.55);
  --color-dark-transparent-60: rgba(70, 70, 70, 0.6);
  --color-dark-transparent-65: rgba(70, 70, 70, 0.65);
  --color-dark-transparent-70: rgba(70, 70, 70, 0.7);
  --color-dark-transparent-75: rgba(70, 70, 70, 0.75);
  --color-dark-transparent-80: rgba(70, 70, 70, 0.8);
  --color-dark-transparent-85: rgba(70, 70, 70, 0.85);
  --color-dark-transparent-90: rgba(70, 70, 70, 0.9);
  --color-dark-transparent-95: rgba(70, 70, 70, 0.95);
}

/* Dark Mode Colors */
[data-mode='dark'] {
  --color-primary: rgb(220, 240, 250); /* Тёмно-фиолетовый */
  --color-secondary: rgb(75, 50, 90);
  --color-tertiary: rgb(110, 60, 130);
  --color-success: rgb(45, 135, 70);
  --color-danger: rgb(190, 45, 75);
  --color-warning: rgb(145, 95, 45);
  --color-info: rgb(50, 80, 130);
  --color-light: rgb(20, 20, 30);
  --color-light-darker: rgb(20, 20, 25);
  --color-dark: rgb(220, 220, 235);

  --color-primary-transparent-5: rgba(220, 240, 250, 0.05);
  --color-primary-transparent-10: rgba(220, 240, 250, 0.1);
  --color-primary-transparent-15: rgba(220, 240, 250, 0.15);
  --color-primary-transparent-20: rgba(220, 240, 250, 0.2);
  --color-primary-transparent-25: rgba(220, 240, 250, 0.25);
  --color-primary-transparent-30: rgba(220, 240, 250, 0.3);
  --color-primary-transparent-35: rgba(220, 240, 250, 0.35);
  --color-primary-transparent-40: rgba(220, 240, 250, 0.4);
  --color-primary-transparent-45: rgba(220, 240, 250, 0.45);
  --color-primary-transparent-50: rgba(220, 240, 250, 0.5);
  --color-primary-transparent-55: rgba(220, 240, 250, 0.55);
  --color-primary-transparent-60: rgba(220, 240, 250, 0.6);
  --color-primary-transparent-65: rgba(220, 240, 250, 0.65);
  --color-primary-transparent-70: rgba(220, 240, 250, 0.7);
  --color-primary-transparent-75: rgba(220, 240, 250, 0.75);
  --color-primary-transparent-80: rgba(220, 240, 250, 0.8);
  --color-primary-transparent-85: rgba(220, 240, 250, 0.85);
  --color-primary-transparent-90: rgba(220, 240, 250, 0.9);
  --color-primary-transparent-95: rgba(220, 240, 250, 0.95);

  --color-secondary-transparent-5: rgba(75, 50, 90, 0.05);
  --color-secondary-transparent-10: rgba(75, 50, 90, 0.1);
  --color-secondary-transparent-15: rgba(75, 50, 90, 0.15);
  --color-secondary-transparent-20: rgba(75, 50, 90, 0.2);
  --color-secondary-transparent-25: rgba(75, 50, 90, 0.25);
  --color-secondary-transparent-30: rgba(75, 50, 90, 0.3);
  --color-secondary-transparent-35: rgba(75, 50, 90, 0.35);
  --color-secondary-transparent-40: rgba(75, 50, 90, 0.4);
  --color-secondary-transparent-45: rgba(75, 50, 90, 0.45);
  --color-secondary-transparent-50: rgba(75, 50, 90, 0.5);
  --color-secondary-transparent-55: rgba(75, 50, 90, 0.55);
  --color-secondary-transparent-60: rgba(75, 50, 90, 0.6);
  --color-secondary-transparent-65: rgba(75, 50, 90, 0.65);
  --color-secondary-transparent-70: rgba(75, 50, 90, 0.7);
  --color-secondary-transparent-75: rgba(75, 50, 90, 0.75);
  --color-secondary-transparent-80: rgba(75, 50, 90, 0.8);
  --color-secondary-transparent-85: rgba(75, 50, 90, 0.85);
  --color-secondary-transparent-90: rgba(75, 50, 90, 0.9);
  --color-secondary-transparent-95: rgba(75, 50, 90, 0.95);

  --color-tertiary-transparent-5: rgba(110, 60, 130, 0.05);
  --color-tertiary-transparent-10: rgba(110, 60, 130, 0.1);
  --color-tertiary-transparent-15: rgba(110, 60, 130, 0.15);
  --color-tertiary-transparent-20: rgba(110, 60, 130, 0.2);
  --color-tertiary-transparent-25: rgba(110, 60, 130, 0.25);
  --color-tertiary-transparent-30: rgba(110, 60, 130, 0.3);
  --color-tertiary-transparent-35: rgba(110, 60, 130, 0.35);
  --color-tertiary-transparent-40: rgba(110, 60, 130, 0.4);
  --color-tertiary-transparent-45: rgba(110, 60, 130, 0.45);
  --color-tertiary-transparent-50: rgba(110, 60, 130, 0.5);
  --color-tertiary-transparent-55: rgba(110, 60, 130, 0.55);
  --color-tertiary-transparent-60: rgba(110, 60, 130, 0.6);
  --color-tertiary-transparent-65: rgba(110, 60, 130, 0.65);
  --color-tertiary-transparent-70: rgba(110, 60, 130, 0.7);
  --color-tertiary-transparent-75: rgba(110, 60, 130, 0.75);
  --color-tertiary-transparent-80: rgba(110, 60, 130, 0.8);
  --color-tertiary-transparent-85: rgba(110, 60, 130, 0.85);
  --color-tertiary-transparent-90: rgba(110, 60, 130, 0.9);
  --color-tertiary-transparent-95: rgba(110, 60, 130, 0.95);

  --color-success-transparent-5: rgba(45, 135, 70, 0.05);
  --color-success-transparent-10: rgba(45, 135, 70, 0.1);
  --color-success-transparent-15: rgba(45, 135, 70, 0.15);
  --color-success-transparent-20: rgba(45, 135, 70, 0.2);
  --color-success-transparent-25: rgba(45, 135, 70, 0.25);
  --color-success-transparent-30: rgba(45, 135, 70, 0.3);
  --color-success-transparent-35: rgba(45, 135, 70, 0.35);
  --color-success-transparent-40: rgba(45, 135, 70, 0.4);
  --color-success-transparent-45: rgba(45, 135, 70, 0.45);
  --color-success-transparent-50: rgba(45, 135, 70, 0.5);
  --color-success-transparent-55: rgba(45, 135, 70, 0.55);
  --color-success-transparent-60: rgba(45, 135, 70, 0.6);
  --color-success-transparent-65: rgba(45, 135, 70, 0.65);
  --color-success-transparent-70: rgba(45, 135, 70, 0.7);
  --color-success-transparent-75: rgba(45, 135, 70, 0.75);
  --color-success-transparent-80: rgba(45, 135, 70, 0.8);
  --color-success-transparent-85: rgba(45, 135, 70, 0.85);
  --color-success-transparent-90: rgba(45, 135, 70, 0.9);
  --color-success-transparent-95: rgba(45, 135, 70, 0.95);

  --color-danger-transparent-5: rgba(190, 45, 75, 0.05);
  --color-danger-transparent-10: rgba(190, 45, 75, 0.1);
  --color-danger-transparent-15: rgba(190, 45, 75, 0.15);
  --color-danger-transparent-20: rgba(190, 45, 75, 0.2);
  --color-danger-transparent-25: rgba(190, 45, 75, 0.25);
  --color-danger-transparent-30: rgba(190, 45, 75, 0.3);
  --color-danger-transparent-35: rgba(190, 45, 75, 0.35);
  --color-danger-transparent-40: rgba(190, 45, 75, 0.4);
  --color-danger-transparent-45: rgba(190, 45, 75, 0.45);
  --color-danger-transparent-50: rgba(190, 45, 75, 0.5);
  --color-danger-transparent-55: rgba(190, 45, 75, 0.55);
  --color-danger-transparent-60: rgba(190, 45, 75, 0.6);
  --color-danger-transparent-65: rgba(190, 45, 75, 0.65);
  --color-danger-transparent-70: rgba(190, 45, 75, 0.7);
  --color-danger-transparent-75: rgba(190, 45, 75, 0.75);
  --color-danger-transparent-80: rgba(190, 45, 75, 0.8);
  --color-danger-transparent-85: rgba(190, 45, 75, 0.85);
  --color-danger-transparent-90: rgba(190, 45, 75, 0.9);
  --color-danger-transparent-95: rgba(190, 45, 75, 0.95);

  --color-warning-transparent-5: rgba(145, 95, 45, 0.05);
  --color-warning-transparent-10: rgba(145, 95, 45, 0.1);
  --color-warning-transparent-15: rgba(145, 95, 45, 0.15);
  --color-warning-transparent-20: rgba(145, 95, 45, 0.2);
  --color-warning-transparent-25: rgba(145, 95, 45, 0.25);
  --color-warning-transparent-30: rgba(145, 95, 45, 0.3);
  --color-warning-transparent-35: rgba(145, 95, 45, 0.35);
  --color-warning-transparent-40: rgba(145, 95, 45, 0.4);
  --color-warning-transparent-45: rgba(145, 95, 45, 0.45);
  --color-warning-transparent-50: rgba(145, 95, 45, 0.5);
  --color-warning-transparent-55: rgba(145, 95, 45, 0.55);
  --color-warning-transparent-60: rgba(145, 95, 45, 0.6);
  --color-warning-transparent-65: rgba(145, 95, 45, 0.65);
  --color-warning-transparent-70: rgba(145, 95, 45, 0.7);
  --color-warning-transparent-75: rgba(145, 95, 45, 0.75);
  --color-warning-transparent-80: rgba(145, 95, 45, 0.8);
  --color-warning-transparent-85: rgba(145, 95, 45, 0.85);
  --color-warning-transparent-90: rgba(145, 95, 45, 0.9);
  --color-warning-transparent-95: rgba(145, 95, 45, 0.95);

  --color-info-transparent-5: rgba(50, 80, 130, 0.05);
  --color-info-transparent-10: rgba(50, 80, 130, 0.1);
  --color-info-transparent-15: rgba(50, 80, 130, 0.15);
  --color-info-transparent-20: rgba(50, 80, 130, 0.2);
  --color-info-transparent-25: rgba(50, 80, 130, 0.25);
  --color-info-transparent-30: rgba(50, 80, 130, 0.3);
  --color-info-transparent-35: rgba(50, 80, 130, 0.35);
  --color-info-transparent-40: rgba(50, 80, 130, 0.4);
  --color-info-transparent-45: rgba(50, 80, 130, 0.45);
  --color-info-transparent-50: rgba(50, 80, 130, 0.5);
  --color-info-transparent-55: rgba(50, 80, 130, 0.55);
  --color-info-transparent-60: rgba(50, 80, 130, 0.6);
  --color-info-transparent-65: rgba(50, 80, 130, 0.65);
  --color-info-transparent-70: rgba(50, 80, 130, 0.7);
  --color-info-transparent-75: rgba(50, 80, 130, 0.75);
  --color-info-transparent-80: rgba(50, 80, 130, 0.8);
  --color-info-transparent-85: rgba(50, 80, 130, 0.85);
  --color-info-transparent-90: rgba(50, 80, 130, 0.9);
  --color-info-transparent-95: rgba(50, 80, 130, 0.95);

  --color-light-transparent-5: rgba(20, 20, 30, 0.05);
  --color-light-transparent-10: rgba(20, 20, 30, 0.1);
  --color-light-transparent-15: rgba(20, 20, 30, 0.15);
  --color-light-transparent-20: rgba(20, 20, 30, 0.2);
  --color-light-transparent-25: rgba(20, 20, 30, 0.25);
  --color-light-transparent-30: rgba(20, 20, 30, 0.3);
  --color-light-transparent-35: rgba(20, 20, 30, 0.35);
  --color-light-transparent-40: rgba(20, 20, 30, 0.4);
  --color-light-transparent-45: rgba(20, 20, 30, 0.45);
  --color-light-transparent-50: rgba(20, 20, 30, 0.5);
  --color-light-transparent-55: rgba(20, 20, 30, 0.55);
  --color-light-transparent-60: rgba(20, 20, 30, 0.6);
  --color-light-transparent-65: rgba(20, 20, 30, 0.65);
  --color-light-transparent-70: rgba(20, 20, 30, 0.7);
  --color-light-transparent-75: rgba(20, 20, 30, 0.75);
  --color-light-transparent-80: rgba(20, 20, 30, 0.8);
  --color-light-transparent-85: rgba(20, 20, 30, 0.85);
  --color-light-transparent-90: rgba(20, 20, 30, 0.9);
  --color-light-transparent-95: rgba(20, 20, 30, 0.95);

  --color-light-darker-transparent-5: rgba(20, 20, 25, 0.05);
  --color-light-darker-transparent-10: rgba(20, 20, 25, 0.1);
  --color-light-darker-transparent-15: rgba(20, 20, 25, 0.15);
  --color-light-darker-transparent-20: rgba(20, 20, 25, 0.2);
  --color-light-darker-transparent-25: rgba(20, 20, 25, 0.25);
  --color-light-darker-transparent-30: rgba(20, 20, 25, 0.3);
  --color-light-darker-transparent-35: rgba(20, 20, 25, 0.35);
  --color-light-darker-transparent-40: rgba(20, 20, 25, 0.4);
  --color-light-darker-transparent-45: rgba(20, 20, 25, 0.45);
  --color-light-darker-transparent-50: rgba(20, 20, 25, 0.5);
  --color-light-darker-transparent-55: rgba(20, 20, 25, 0.55);
  --color-light-darker-transparent-60: rgba(20, 20, 25, 0.6);
  --color-light-darker-transparent-65: rgba(20, 20, 25, 0.65);
  --color-light-darker-transparent-70: rgba(20, 20, 25, 0.7);
  --color-light-darker-transparent-75: rgba(20, 20, 25, 0.75);
  --color-light-darker-transparent-80: rgba(20, 20, 25, 0.8);
  --color-light-darker-transparent-85: rgba(20, 20, 25, 0.85);
  --color-light-darker-transparent-90: rgba(20, 20, 25, 0.9);
  --color-light-darker-transparent-95: rgba(20, 20, 25, 0.95);

  --color-dark-transparent-5: rgba(220, 220, 235, 0.05);
  --color-dark-transparent-10: rgba(220, 220, 235, 0.1);
  --color-dark-transparent-15: rgba(220, 220, 235, 0.15);
  --color-dark-transparent-20: rgba(220, 220, 235, 0.2);
  --color-dark-transparent-25: rgba(220, 220, 235, 0.25);
  --color-dark-transparent-30: rgba(220, 220, 235, 0.3);
  --color-dark-transparent-35: rgba(220, 220, 235, 0.35);
  --color-dark-transparent-40: rgba(220, 220, 235, 0.4);
  --color-dark-transparent-45: rgba(220, 220, 235, 0.45);
  --color-dark-transparent-50: rgba(220, 220, 235, 0.5);
  --color-dark-transparent-55: rgba(220, 220, 235, 0.55);
  --color-dark-transparent-60: rgba(220, 220, 235, 0.6);
  --color-dark-transparent-65: rgba(220, 220, 235, 0.65);
  --color-dark-transparent-70: rgba(220, 220, 235, 0.7);
  --color-dark-transparent-75: rgba(220, 220, 235, 0.75);
  --color-dark-transparent-80: rgba(220, 220, 235, 0.8);
  --color-dark-transparent-85: rgba(220, 220, 235, 0.85);
  --color-dark-transparent-90: rgba(220, 220, 235, 0.9);
  --color-dark-transparent-95: rgba(220, 220, 235, 0.95);
}
